/*
Original design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #000000;
	background-image: url("images/background.jpg");
	background-size: 100%;
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	font-family: 'Arvo', serif;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: rgb(48, 122, 211);
}

a:hover {
}

/*Banner*/

#banner {
	width: 100%;
	margin-bottom: -2px;
}

/* Logo */

#logo {
	left: 12%;
    position: absolute;
    top: 4%;
	margin: 0 auto;
	width: 1000px;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	font-size: 3.8em;
	color: #FFFFFF;
}

#logo p {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	color: #FFFFFF;
}

#logo a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	outline: none;
	background: #F5F0E7;
	border: 3px solid rgb(48, 122, 211);
	padding: 8px;
	border-radius: 4px;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	background-color: #fefefe;
	margin-left: 13px;
}

#search-submit {
	width: 40px;
	height: 40px;
	border: none;
	color: #FFFFFF;
	border-radius: 4px;
	background-image: url("images/search.png");
	background-color: rgb(48, 122, 211);
}

#search-submit:hover{
	background-color: #103c6b;
}

/* Menu -voir aussi menu.css- */

#menu-wrapper {
	overflow: show;
	height: 57px;
	margin-bottom: 5em;
	background: -webkit-linear-gradient(white, transparent); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, transparent); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, transparent); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, transparent); /* Standard syntax */
}

#page-wrapper {
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	box-shadow: 0 0 20px #000000;
	width: 84em;
	z-index: 50;
	background-color: rgba(48, 122, 211, 0.95);
	margin-bottom: 3em;
	overflow:auto
}

/* Page */

#feed {
	overflow: hidden;
	width: 680px;
	margin: 0 auto 0 26px;
	padding: 30px 0px;
}

#article {
	overflow: hidden;
	width: 680px;
	margin: 0 auto 0 26px;
	padding: 50px 0px;
}

/* Content */

#content {
	float: left;
	width: inherit;
}

.post {
	margin-bottom: 15px;
	padding: 30px 40px;
	border: 3px solid #ffffff;
	background: #f1ede4;
	border-radius: 4px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 32px;
}

.post .title a {
	border: none;
	color: #000000;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

.button {
	padding: 10px 25px;
	background: rgb(48, 122, 211);
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 450px;
    margin-top: 5px;
    position: absolute;
	color: #ffffff;
}

.button-dl {
	padding: 10px 25px;
	background: rgb(48, 122, 211);
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: auto;
    margin-top: 5px;
    position: relative;
	color: #ffffff;
}

.button-page {
	padding: 10px 25px;
	background: rgb(48, 122, 211);
	border-radius: 4px;
	border: 3px solid #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: auto;
    margin-top: 5px;
    position: relative;
	color: #ffffff;
}

.button-page:hover {
	background: #195da6;
}

.button-page.selected {
	background: #114082;
	cursor: context-menu;
}

.post-images {
	border-radius: 4px;
    box-shadow: 0 0 20px #000000;
    margin-left: 9%;
	margin-bottom: 5%;
    width: 80%;
	border: 3px solid #ffffff;
}

/* Sidebar */

#sidebar-wrapper {
	float: right;
    margin-bottom: 24px;
    margin-right: 26px;
    margin-top: 50px;
    position: relative;
    width: 350px;
}

#sidebar-wrapper-home {
	float: right;
    margin-bottom: 24px;
    margin-right: 26px;
    margin-top: 24px;
    position: relative;
    top: -277px;
    width: 350px;
}

#sidebar {
	float: right;
	width: 300px;
	margin: 0px;
	padding: 40px 18px 0;
	color: #000000;
	border: 3px solid #ffffff;
	background: #f1ede4;
	border-radius: 4px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	border-bottom: 1px solid #E7DFD7;
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
}

#sidebar li li a {
	color: #3B3B3B;
}

#sidebar li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	background: none repeat scroll 0 0 rgb(48, 122, 211);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}



/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: rgba(0, 0, 0, 0.5);
	border-top: 5px solid #ffffff;
	font-family: 'Comic Sans MS', serif;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight:bold;
	text-align: center;
	color: #ffffff;
}