body {
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	background: -webkit-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* W3C */  
	background-size: 100% 120%;
}

#banner {
	width: 100%;
}

#sidebar {
	background-color: transparent;
	overflow: auto;
	min-height: 770px;
	margin-left: -2%;
}

#sidebar ul {
	list-style: none;
	color: white;
}

#sidebar a {
	color: white;
	text-decoration: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    /*Chrome CSS here*/

    #sidebar {
	min-height: 945px !important;
	margin-left: -1% !important;
    }
}

#feed {
	width: 73%;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: 23%;
	min-height: 100%;
	margin-left: 23%;
	position: absolute;
	border-left: 8px solid white;
	text-align: center;
	padding-left: 1%;
	color: #2e74ca;
	font-size: 1.2em;

}

#feed a {
	color: #2e74ca;
	text-decoration: none;
}

#feed a:hover {
	color: black !important;
	text-decoration: underline !important;
}

#feed a:visited {
	color: #8200ff;
}

#copy {
	bottom: 0;
	margin-left: 43%;
	position: absolute;
}

#player {
	display:block;
	width:600px;
	/*max-width: 75%;*/
	height:338px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	background:black;
}